Package: wireguird
Source: wireguird
Version: 1.0
Section: utils
Priority: extra
Architecture: amd64
Depends: wireguard-tools, resolvconf, libayatana-appindicator3-1
Maintainer: UnnoTed
Description: GTK GUI for Wireguard
